@font-face {
  font-family: "Futura Std";
  src: url("../fonts/FUTURASTD-BOLD.OTF");
}

@font-face {
  font-family: "Futura Regular";
  src: url("../fonts/FUTURASTD-MEDIUM.OTF");
}

@font-face {
  font-family: "Linux Libertine";
  src: url("../fonts/LinLibertine_DR.ttf") format("truetype");
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

/* GERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

/* COMPORTAMENTO DO SCROLL */
html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100vh;
  width: calc(100% - 7vw);
  padding: 2em;
}

/* TIPOGRAFIA */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura Std";
  line-height: 1.1;
}

h1 {
  font-size: 8em;
}

h2 {
  font-size: 6.7em;
}

h3 {
  font-size: 5em;
}

h4 {
  font-size: 4.1em;
}

h5 {
  font-size: 2.8em;
}

h6 {
  font-size: 1.5em;
}

p {
  font-size: 1.5em;
  font-family: "Linux Libertine";
  text-align: justify;
}

b {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

/* GRELHA */
section.home {
  /* width: 100%; */
  height: 100vh;
  position: relative;
}

/* HEADER */
.header {
  width: 100%;
  height: 15%;
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid black;
}

h1.header-title {
  width: fit-content;
  /* 6 colunas 
  width: calc(100% / 12 * 6);*/
  font-family: "Futura Std";
  text-align: center;
  white-space: nowrap;
}

.header-rect {
  /* 2 colunas
  width: calc(100% / 12 * 6); */
  width: fit-content;
  text-align: left;
  height: 100%;
  padding: 2.5em 2em 2.5em 2em;
  border: 2px solid black;
  white-space: nowrap;
}

.header-rect-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-rect-date {
  margin-top: 1em;
  text-align: center;
}

/* NAVBAR */
.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 0;
  display: inline-flex;
}

.nav-articles,
.nav-about {
  cursor: pointer;
  user-select: none;
}

.nav-articles,
.nav-about,
.nav-articles-content,
.nav-about-content,
.nav-title {
  width: 3.5vw;
  height: 100%;
  position: relative;

  border-left: 1px solid black;
  background-color: white;
}

.nav-articles-content {
  display: none;
  background-color: white;
  height: 100%;
  width: 26vw;
}

.nav-about-content {
  display: none;
  background-color: white;
  height: 100%;
  width: 45vw;
}

.nav-title {
  background-color: white;
  height: 100%;
  width: 22vw;
  position: relative;
  display: none;
}

.nav-content {
  position: absolute;
  top: 0;
}

.nav-content h6 {
  width: 100%;
  border-top: 1px solid black;
  padding: 1.5em;
  font-family: "Futura Regular";
}

.nav-about-content > .nav-content {
  width: 100%;
  padding: 5em;
}

.nav-articles-content .nav-content {
  border-bottom: 1px solid black;
  width: 100%;
}

.nav-articles > h6,
.nav-about > h6 {
  position: absolute;
  bottom: 0;
  padding: 25% 0 0 25%;
  transform-origin: 0 0;
  transform: rotate(-90deg);
}

.nav-title > h1 {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-12%, 300%) rotate(-90deg);
  transform-origin: 0 0;
  font-size: 12em;
  white-space: nowrap;
}

/* CANVAS */
.canvas {
  height: 85%;


}

.canvas > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ARTIGOS */
.article-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-bottom: 5px solid black;
  padding-bottom: 1em;
  /* Espaço entre texto e linha horizontal */
}

.article-grid {
  width: 100%;
  height: calc(100% / 3 - 1em);
  display: grid;
  grid-template-areas: "leftcol leftdragbar middlecol rightdragbar rightcol";
  grid-template-columns: 1fr 5px 1fr 5px 1fr;

  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.article-left-column,
.article-middle-column,
.article-right-column {
  overflow: auto;
  padding: 2em;
}

.article-left-column *,
.article-middle-column *,
.article-right-column * {
  margin-bottom: 0.5em;
}

.article-left-column img,
.article-middle-column img,
.article-right-column img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.article-left-column {
  grid-area: leftcol;
}
.article-middle-column {
  grid-area: middlecol;
}
.article-right-column {
  grid-area: rightcol;
}

.article-left-dragbar {
  background-color: black;
  grid-area: leftdragbar;
  cursor: ew-resize;
}
.article-right-dragbar {
  background-color: black;
  grid-area: rightdragbar;
  cursor: ew-resize;
}
